@import '../../styles/_mixins.scss';

// share-memories
.share-memories{
  min-height: 358px;
  background: #06497c url('../../i/bg-memories.png') calc(50% - 342px) 0 no-repeat;
  margin-top: 60px;

  input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  input:-ms-input-placeholder,
  input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }


  @include viewMd{
    margin-top: 35px;
  }

  .con-mem{
    height: 358px;
    margin-left: 50%;
    color: #ffffff;
    padding-top: 59px;
    padding-left: 70px;

    h2{
      font-size: 30px;
      font-weight: bold;
      line-height: 1.2;
      position: relative;
      @include fontAlt;

      @include viewMd{
        font-size: 15px;
      }
    }
    .desc{
      margin-top: 20px;
      position: relative;
      width: 400px;
      font-size: 16px;
      color: #ffffff;
      line-height: 1.2;
    }
    .become-member{
      position: relative;
      margin-top: 38px;
    }
    .action{
      margin-top: 33px;

      .btn{
        width: 195px;
      }
    }
    .row{
      .mail{
        margin: 0;
        padding-left: 40px;
        background: url('../../i/mail.png') 0 5px no-repeat;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.5);
        width: 367px;
        padding-bottom: 14px;

        @include fontSecondary;
      }
    }
  }

  @include viewMd{
    background: #06497c url('../../i/bg-memories.png') calc(50% - 85px) 0 no-repeat;
    background-size: auto 100%;
    min-height: 220px;
    

    .con-mem{
      min-height: 220px;
      padding-bottom: 14px;
      height: auto;
      margin-left: 0;
      padding-top: 24px;
      padding-left: calc(50% - 47px);
      position: relative;
      overflow: hidden; 

      &:before{
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: calc(50% - 72px);
        top: 0;
        bottom: 0;
        right: 0;
        background: #06497c;
        transform: skewX(-10deg);
      }

      .become-member{
        margin-top: 15px;
      }
      .desc{
        width: auto;
        font-size: 14px;
      }
      .action{
        margin-top: 22px;
        .btn{
          width: 155px;
          height: 35px;
          line-height: 35px;
        }
      }
      .row{
        .mail{
          padding-bottom: 6px;
          width: calc(100% - 20px);
          font-size: 12px;
          background: url('../../i/mail.png') 0 3px no-repeat;
          background-size: 16px;
          padding-left: 22px;
        }
      }
    }
  }
}