/* normalize css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
  display: block;
}
body {
  background: #fff;
  font-family: Arial, Helvetica sans-serif;
  line-height: 1;
  font-size: 16px;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
a:visited,
a:focus {
  outline: none;
}
a,span,i{
  display: inline-block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
i,em{
    font-style: italic;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  font-weight: normal;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
strong {
  font-weight: 700;
}
input,
textarea {
  font-family: Arial, Helvetica sans-serif; 
  outline: none;
  box-shadow: none;
}
input::-webkit-input-placeholder {
  color: #000;
}
input::-moz-input-placeholder {
  color: #000;
}
input:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #000;
}

textarea::-webkit-input-placeholder {
  color: #000;
}
textarea::-moz-input-placeholder {
  color: #000;
}
textarea:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #000;
}
textarea{
  overflow: auto;
}
svg:not(:root) {
  overflow: hidden;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
input[type="search"]::-ms-clear {
    display: none;
}
input::-ms-clear {
    display: none;
}
select{
  -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}