@import '../../styles/_mixins.scss';

// profile-cards
.profile-cards{
  .viewport{
    display: flex;
    justify-content: center;
  }
  h3{
    text-align: center;
    font-size: 30px;
    @include fontAlt;
    padding:68px 0;
  }
  .profile-card{
    width: 392px;
    text-align: center;

    img{
      display: inline-block;
    }
    h4{
      a{
        font-size: 25px;
        color: #205493;
        padding-top: 17px;

        @include hover;
        @include fontAlt;
      }
    }
    .life-el{
      font-size: 20px;
      color: #5d5d66;
      margin-top: 20px;
      @include fontAlt;
    }
  }
  .btn-more{
    width: 195px;
  }
  .action{
    text-align: center;
    padding: 42px;
  }

  @include viewMd{
    .viewport{
      flex-wrap: wrap;
    }
    h3{
      font-size: 15px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .profile-card{
      margin-top: 30px;

      &:first-child{
        margin-top: 0;
      }

      img{
        width: 79px;
        height: 79px;
      }
      h4{
        a{
          font-size: 14px;
        }
      }

      .life-el{
        font-size: 14px;
        margin-top: 10px;
      }
    }
    .action{
      .btn{
        height: 40px;
        line-height: 40px;
        border-radius: 2.5px;
      }
    }
  }
}