@import '../../styles/_mixins.scss';

// collection-list-wrap
.collection-list-wrap{
  background-color: #06497c;
  color: #ffffff;
  position: relative;

  @include viewMd{
    .fullstory-view{
      overflow: hidden;
    }
  }

  .collection-view{
    display: flex;
    padding: 0 28px;

    @include viewMd{
      flex-wrap: wrap;
    }
  }
  .title{
    text-align: center;
    @include fontAlt;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 58px;
    padding-bottom: 74px;
  }
  .action{
    text-align: center;
    padding: 20px 0 30px 0;

    .btn-more{
      width: 195px;
      &.btn-md{
        width: 215px;
      }

      @include viewMd{
        height: 40px;
        line-height: 40px;
      }
    }
    @include viewMd{
      padding-top: 0;
    }
  }

  .collection-item-card-wrap{
    padding: 0 22px;
    .caption{
      font-size: 16px;
      text-align: center;
      line-height: 1.56;
      margin-top: 18px;
    }
    .date{
      font-size: 16px;
      text-align: center;
      line-height: 1.56;
    }

    @include viewMd{
      padding-bottom: 28px;
      
      .caption{
        font-size: 13px;
        margin-top: 10px;
      }
      .date{
        font-size: 13px;
      }
    }
  }

  @include viewMd{
    .title{
      font-size: 15px;
      padding-top: 26px;
      padding-bottom: 21px;
    }
    .opts{
      display: block;
      text-align: center;
      padding-bottom: 41px;
      
      .btn{
        position: relative;
        right: auto;
        top: auto;
        vertical-align: top;
        margin: 0 3px 0 4px;
      }
    }
  }
}


// fig-badge
.fig-badge{
  height: 105px;

  &.hero{
    background: url('../../i/bdg-hero.png') 50% 17px no-repeat;

    &.bdg-md{
      background: url('../../i/bdg-hero-b.png') 50% 17px no-repeat;
    }
  }
  &.bravery{
    background: url('../../i/bdg-bravery.png') 50% 6px no-repeat;
  }
  &.instructor{
    background: url('../../i/bdg-instructor.png') 50% 6px no-repeat;
  }
  &.friendship{
    background: url('../../i/bdg-friendship.png') 50% 17px no-repeat;
  }
  &.leader{
    background: url('../../i/bdg-leader.png') 50% 17px no-repeat;
  }
  &.charger{
    background: url('../../i/bdg-charger.png') 50% 6px no-repeat;
  }
  &.big-heart{
    background: url('../../i/bdg-big-heart.png') 50% 6px no-repeat;
  }
  &.rock{
    background: url('../../i/bdg-rock.png') 50% 17px no-repeat;
  }

}

.fullstory-slide{
  .fig-badge{
    @include viewMd{
      &.bravery{
        background: url('../../i/bdg-bravery.png') 50% 6px no-repeat;
        background-size: 70px;
      }
      &.instructor{
        background: url('../../i/bdg-instructor.png') 50% 6px no-repeat;
        background-size: 70px;
      }
      &.friendship{
        background: url('../../i/bdg-friendship.png') 50% 17px no-repeat;
        background-size: 160px;
      }
    }
  }
}

.collection-item-card{
  background-color: #ffffff;
  flex: 0 284px;
  width: 284px;
  color: #000;
  padding: 27px 30px 17px;
  font-size: 16px;;

  h5{
    @include fontAlt;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.56;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .desc{
    height: 85px;
    overflow: hidden;
    line-height: 1.3;

    &.desc-md{
      height: 105px;
    }
  }
  .more{
    color: #0f73ba;
    line-height: 1.88;

    a{
      @include hover;
    }
  }

  // con-badge
  &.con-badge{
    height: 182px;
    cursor: pointer;

    @include hover;
  }
}

// fullstory-card
.fullstory-card{
  margin: 0 auto;
  width: 1099px;
	min-height: 823px;
  background-color: #ffffff;
  color: #000;
  padding: 67px 95px 45px 93px;
  position: relative;
  
  @include viewMd{
    width: auto;
    min-height: 467px;
    padding: 30px 30px 38px;
    margin: 0 15px;

    &.alt{
      padding: 30px 30px 38px;
    }
  }

  &.fullstory-card-md{
    width: 715px;
    min-height: 595px;

    &.alt{
        padding: 47px 95px 45px 93px;
    }

    @include viewMd{
      width: auto;
      min-height: 467px;
      padding: 30px 30px 38px;
      margin: 0 15px;

      &.alt{
        padding: 30px 30px 38px;
      }
    }
  }

  .close{
    position: absolute;
    right: 95px;
    top: 67px;
    width: 17px;
    height: 17px;
    background: url('../../i/xb.png') 0 0 no-repeat;
    background-size: 17px;

    @include hover;
  }
  .flag{
    position: absolute;
    right: 155px;
    top: 67px;
    width: 17px;
    height: 17px;
    background: url('../../i/flag.png') 0 0 no-repeat;
    background-size: 17px;

    @include hover;
  }
  @include viewMd{
    .close{
      top: 30px;
      right: 30px;
    }
    .flag{
      top: 30px;
      right: 68px;
    }
  }
  .postedby{
    font-size: 20px;
    line-height: 2.0;
    text-align: left;
    color: #5d5d66;
  }
  .dateval{
    font-size: 20px;
    line-height: 2.0;
    text-align: left;
    color: #5d5d66;
  }
  @include viewMd{
    .postedby{
      font-size: 14px;
      line-height: 1.4;
    }
    .dateval{
      font-size: 14px;
      line-height: 1.4;
    }
  }

  // article
  .article{

    &.centered{
      text-align: center;
    }
    h3{
      font-size: 30px;
      font-weight: bold;
      margin-top: 60px;

      @include fontAlt;

      @include viewMd{
        margin-top: 0;
        padding-top: 70px;
        font-size: 14px;
        line-height: 1.8;

        &.sticky-md{
          padding-top: 30px;
        }
      }
    }

    .fullstory{
      font-size: 20px;
      line-height: 1.5;
      color: #000000;
      margin-top: 54px;
      padding-bottom: 90px;

      @include viewMd{
        font-size: 14px;
        line-height: 1.8;
        margin-top: 0;
        padding-bottom: 48px;
      }

    }

    &.article-badges{
      .fullstory{
        padding-bottom: 0;
        margin-top: 12px;
        margin-bottom: 12px;

        .fig-badge {
          height: 176px;
        }

        @include viewMd{
          margin-top: 0;
          margin-bottom: 0;

          
        }
      }

        h3{
          padding-bottom: 35px;
          margin: 0;

          @include viewMd{
            padding-bottom: 0;
          }
        }
    }
    // article-footer
    .article-footer{
      border-top: 2px solid #0f73ba;
      display: flex;
      justify-content: space-between;
      padding-top: 25px;

      &.alt{
        padding-top: 18px;
        flex-wrap: wrap;
        justify-content: center;

        .col:last-child{
          padding-top: 38px;
        }
      }

      @include viewMd{
        flex-wrap: wrap;
        .col{
          flex: 0 100%;
          text-align: center;

          &:last-child{
            margin-top: 35px;
          }
        }
      }

      .col-meta{
        display: flex;
        h6{
          font-size: 16px;
          line-height: 1.25;
          color: #5d5d66;
          text-align: left;
          @include fontAlt;
        }
        .meta-val{
          font-size: 25px;
          line-height: 1.25;
          color: #000;
          @include fontAlt;
          margin-right: 40px;
          margin-top: 9px;

          &.reads{
            padding-left: 32px;
            background:url(../../i/visible.png) 0 10px no-repeat;
          }
          &.salutes{
            padding-left: 32px;
            background:url(../../i/salutes.png) 0 50% no-repeat;
          }
          &.shares{
            padding-left: 32px;
            background:url(../../i/shares-b.png) 0 50% no-repeat;
          }
        }

        @include viewMd{
          display: flex;
          justify-content: space-between;
          flex: 0 100%;

          h6{
            font-size: 13px;
          }
          .meta-val{
            font-size: 20px;
            margin-right: 0;

            &.reads{
              padding-left: 26px;
              background:url(../../i/visible.png) 0 10px no-repeat;
              background-size: 19px;
            }
            &.salutes{
              padding-left: 26px;
              background:url(../../i/salutes.png) 0 50% no-repeat;
              background-size: 18px;
            }
            &.shares{
              padding-left: 26px;
              background:url(../../i/shares-b.png) 0 50% no-repeat;
              background-size: 15px;
            }
          }
        }
      }
      

      .btn{
        margin-left: 10px;
        width: 91px;
        text-align: left;

        &.btn-salute{
          padding-left: 35px;
          background: #0f73ba url('../../i/star.png') 7px 10px no-repeat;
        }
        &.btn-share{
          padding-left: 35px;
          background: #0f73ba url('../../i/share.png') 7px 10px no-repeat;
        }

        @include viewMd{
          height: 35px;
          line-height: 35px;
          width: 82px;
          margin: 0 5px;

          &.btn-salute{
            padding-left: 30px;
            background: #0f73ba url('../../i/star.png') 7px 8px no-repeat;
            background-size: 18px;
          }
          &.btn-share{
            padding-left: 30px;
            background: #0f73ba url('../../i/share.png') 7px 9px no-repeat;
            background-size: 16px;
          }
        }
      }
    }
  }

  .slide-arrow{
    position: absolute;
    top: 50%;
    margin: -16px;

    &.prev{
      width: 19px;
      height: 32px;
      background: url('../../i/arrow.png') 0 0 no-repeat;
      left: -62px;

    }
    &.next{
      width: 19px;
      height: 32px;
      background: url('../../i/arrow.png') 0 0 no-repeat;
      right: -62px;
      transform: rotate(180deg);
    }
  }
}

// fullstory-navs
.fullstory-navs{
  display: flex;
  justify-content: space-between;
  width: 1099px;
  margin: 42px auto;
  padding-bottom: 65px;


  &.fullstory-navs-md{
    width: 715px;

    @include viewMd{
      width: auto;
      padding-bottom: 42px;

      .col{
        min-width: 50px;
      }
    }
  }

  h5{
    font-size: 20px;
    line-height: 2.0;
  }
  h4{
    @include fontAlt;
    font-size: 26px;
    margin-top: 20px;

    @include viewMd{
      display: none;
    }
  }

  a{
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }
  }

  h5{
    @include viewMd{
      height: 40px;
      line-height: 40px;
    }
    a{
      text-decoration: none;
      text-align: left;

      &:hover{
        text-decoration: underline;
      }

      @include viewMd{
        text-indent: -999px;
        overflow: hidden;

        &.prev{
          background: url('../../i/pv-b.png') 15px 50% no-repeat;
          background-size: 16px;
          width: 50px;
        }
        &.next{
          background: url('../../i/nx-b.png') calc(100% - 15px) 50% no-repeat;
          background-size: 16px;
          width: 50px;
        }
      }
    }
  }

  @include viewMd{
    .action{
      padding: 0;

      .btn{
        text-decoration: none;
      }
    }
  }

  .col:last-child{
    text-align: right;
  }
}

.btn.btn-rt-1{
  position: absolute;
  right: 50px;
  top: 55px;
  &.btn-badge{
    width: 130px;
  }
}
.btn.btn-rt-2{
  position: absolute;
  right: 194px;
  top: 55px;
}